html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  flex-direction: column;
  color: #eee;
  background-color: #131722;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  padding: 0.7rem;
  width: 100vw;
  left: 0;
  margin-left: 0;
  position: fixed;
  background: #A33955;
  z-index: 10;
  top: 0;
}

#banner {
  width: 151rem;
  height: 100vh;
  justify-content: center;
  top: 34px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#appName {
  cursor: pointer;
}
