.container {
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  font-size: 5.5vw;
  align-items: center;
  background: #13172282;
}

.cover>h1 {
  margin: 2rem auto;
}

.description {
  font-size: 1.7vw;
  width: 27%;
  text-align: center;
}

.about {
  height: auto;
  width: 100vw;
  top: 18px;
  position: relative;
  background: #131722;
  text-align: center;
}

.about>h3 {
  text-align: center;
  font-size: xx-large;
}

.widgets {
  position: relative;
  height: auto;
}

.widgets>div {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  margin: 2rem auto;
}

.widgets>div:first-of-type {
  flex-wrap: wrap;
}

.widgets>div>span {
  min-width: 20rem;
  text-align: center;
  display: block;
  margin: auto;
  padding: 0.5rem;
  font-size: 1.9em;
}

.widgets>div:first-of-type>img{
  width: 70%;
  margin: auto;
}

.widgets>div:nth-child(2) {
  flex-direction: row-reverse;
}

.widgets>div>img {
  /* min-width: 10rem; */
  width: 36%;
  flex: 0.5;
  margin: auto;
}

@media (max-width: 600px) {
  .description {
    font-size: 3.7vw;
    width: 12%;
    text-align: center;
  }
}
